.title{
    margin-bottom: 10px;
}
header {
    color: rgb(190, 0, 190);
    background-color: black;
    height: 450px;
}
.nav{
    background: rgb(218, 48, 218);
    height: 60px;
}
.nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.qs{
    background: rgb(190, 0, 190);
    padding-top: 35px;
}
.colleft{
    margin-left: auto;
}
.seguinos{
    background: rgb(218, 48, 218);
}
.localizacion{
    background: rgb(190, 0, 190);
}
footer{
    color: white;
    background: black;
}
.tdr{
    margin-right: auto;  
}
